<div class="container margin_weather bg-light p-5 rounded">
    <form [formGroup]="form">

        <div>
            <select class="form-control" formControlName="county" (change)="loadcities()">
                <option value="0">Seleccione un país</option>
                <option *ngFor="let country of countryservice.lstCountries" value="{{country.countryISO}}">
                    {{country.name}}</option>
            </select>
        </div>


        <div class="table_margin_weather" *ngIf="this.form.get('county')?.value != 0">
            <table class="table table-sm table-striped" *ngIf="!loading">
                <thead>
                    <th>Ciudad</th>
                    <th>Acción</th>
                </thead>
                <tbody>
                    <tr *ngFor="let city of cityservice.lstCities">
                        <td> {{city.name}} </td>
                        <td *ngIf="city.visible"> <button class="btn btn-danger"
                                (click)="changeState(city)">Ocultar</button> </td>
                        <td *ngIf="!city.visible"> <button class="btn btn-success"
                                (click)="changeState(city)">Mostrar</button> </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="loading">
                Cargando...
            </div>
        </div>

    </form>
</div>