<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">MV Factory DEMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
        aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/weather/" routerLinkActive="active">Clima</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/config/" routerLinkActive="active">Configuración</a>
            </li>
        </ul>
    </div>
</nav>