<div *ngIf="lstHistories.length; else elseBlock">
    <table class="table table-sm table-striped table_margin_weather">
        <thead>
            <th>País</th>
            <th>Ciudad</th>
            <th>Clima</th>
            <th>Sensación Térmica</th>
        </thead>
        <tbody>
            <tr *ngFor="let history of lstHistories">
                <td> {{history.city.country}} </td>
                <td> {{history.city.name}} </td>
                <td> {{history.temp}} </td>
                <td> {{history.temp_Sensation}} </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #elseBlock>
    <div class="table_margin_weather text-center">
        <b>-- No hay datos en el histórico para la ciudad seleccionada --</b>
    </div>
</ng-template>