<div class="margin_weather bg-light p-5 rounded">

    <div class="alert alert-{{message.class}}" role="alert" *ngIf="message.text">
        {{message.text}}
    </div>

    <form [formGroup]="form" (ngSubmit)="getWeather()">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <select class="form-control" formControlName="cityid" (change)="changeSelect()">
                    <option value="0">Seleccione la Ciudad</option>
                    <option *ngFor="let city of cityservice.lstCities" value="{{city.id}}">{{ city.name }} - {{
                        city.country_Name }}</option>
                </select>
            </div>
            <div class="col-12 col-md-4 col-lg-3" style="margin-top: 7px;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="history" formControlName="ck_History">
                    <label class="form-check-label" style="cursor: pointer;" for="history">
                        Incluir histórico
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-5">
                <button class="btn btn-primary" type="submit"
                    [disabled]="loading || form.get('cityid')?.value == '0' ">Consultar</button>
            </div>
        </div>
    </form>


    <div class=" table_margin_weather" *ngIf="city.name">
        <div>
            <b>Ciudad:</b> {{ city.name }} - {{ city.country_Name }}
        </div>
        <div>
            <b>Clima:</b> {{ weather.temp_celsius }} - <b>Sensación Termica:</b> {{
            weather.feels_like_celsius }}
        </div>
    </div>

    <div *ngIf="city.name">
        <app-listweather [pCityId]="CityId"></app-listweather>
    </div>
</div>